.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cosmic-logo-img{
  --h: 275px;
  --wr : calc(var(--h) / 383px);
  width: calc(var(--h) * var(--wr));
  height: var(--h);
  left: calc(50vw - ((var(--h) / 2) var(--wr)));
  margin-top: 100px;
}

.main-div{
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: url("./resources/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cosmic-label-connect{
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: block;
  margin: 15px 0px;
}

.inner-div {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically for better spacing */
  gap: 20px; /* Adds space between each button */
}

.btn-div{
  width: 285px;
  height: 69px;
  position: relative;
  background-image: url("./resources/Boton_Inactivo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid; /* Turn the button into a grid container */
  grid-template-columns: 20% 80%; /* Two columns: 20% for logo, 80% for text */
  align-items: center; /* Vertically center content within the grid cells */
}
.btn-div:hover{
  background-image: url("./resources/activebtn.svg");
}

.button-account-icon{
  display: inline-block;
  width: 32px;
  vertical-align: middle;
  margin-right: 12px;
}

.btn-label {
  height: 30px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
}

.bottom-div{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.bottom-wou-icon{
  width: 50px;
}
.bottom-label{
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  display: block;
  font-size: 10px;
  margin-top: 10px;
}

@media(max-width: 480px){
  .btn-div {
    width: 190px;
    margin: 10px auto;
  }

  .btn-label {
    font-size: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
